
<div align="center">
The shortest number of stops between <strong><%= @start_st %></strong> and <strong><%= @end_st %></strong> (is/are) <%= @num_of_stops %>.

<p></p>
<%= image_tag("tubemap_s.png") %>
<img src="/images/rails.png">
<a href="/start">Back.</a>